*{
    margin: 0px;
    font-family: Josefin Sans;
}

.menuhome{
    width: vw;
    display: flex;
    background-color: #0D036B;
    align-items: center;
    justify-content: space-evenly;
}

#pesquisa{
    width: 27vw;
    height: 2.3vh;
    border: none;
    padding: 10px;
    border-radius: 4.5px;
}

#pesquisa::placeholder{
    text-align: left;
    font-size: 17px;
}

#place{
    display: flex;
    align-items: center;
    justify-content: center;
}

#lupa{
    position: absolute;
    left: 51.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 5.25vh;
    background-color: #F50077;
    border-radius: 0px 4.5px 4.5px 0px;
    transition: 0.4s;
}
#lupa:hover{
    transition: 0.4s;
    background-color: #F83A96;
}
.buttonlogin{
    transition: 0.4s;
    border: none;
    border-radius: 2.5px;
    width: 6vw;
    height: 3vh;
    color: #FF006F;
    font-size: 15px;
    margin-bottom: 0.7898894154818326vh;
    margin-left: 1.8301610541727673vw;
    margin-top: 2.843601895734597vh;
}
.buttonlogin:hover{
    transition: 0.4s;
    text-decoration: underline #FF006F;
}
#login{
    height: 4vh;
    transition: 0.4s;
    color: #FF72DC;
    text-decoration: underline #FF72DC;
}
#login:hover{
    transition: 0.4s;
    color: #F50077;
    text-decoration: underline #FF006F;
}
#barra{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: vw;
    height: 6vh;
    background-color: rgb(219, 219, 219);
}
.namesnavs{
    font-size: 16px;
    font-weight: bold;
    transition: 0.4s;
    cursor: pointer;
}
.namesnavs:hover{
    transition: 0.4s;
    color: #F50077;
    border-bottom: 2px solid;
    border-color: #F50077;
}
.img_promoction{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: vw;
    height: 73vh;
    background-repeat: no-repeat;
    background-size: 98.938vw 75vh;
}

.sele{
    display: flex;
    align-self: flex-end;
    width: 2vw;
    flex-direction: row;
    
}
.descri_destaque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img_destaque{
    width: 14vw;
}
#Arrow_left{
    width: 2.5vw;
}
#Arrow_right{
    width: 2.5vw;
}
.block_genero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32vw;
    height: 45vh;
    background-color: #F50077;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}
.blocks_genero{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#blockLogin{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#areaLogin{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    width: 30vw;
    height: 65vh;
    padding: 20px;
}
.campos_login{
    height: 6vh;
    width: 29vw;
    font-size: 16px;
    border-radius: 6px;
    padding-left: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.253);
}
.campos_login::placeholder{
    color: rgba(70, 69, 69, 0.384)
}
#button_entre{
    color: white;
    font-size: 15px;
    background-color: #F50077;
    border: none;
    border-radius: 3px;
    height: 7vh;
    transition: 0.4s;
}
#button_entre:hover{
    transition: 0.4s;
    background-color: #EF64A7;
}